.title-room {
   font-size: 1.5rem;
   padding: .5rem 1rem;
   font-weight: bold;
   color: #d5d4d3;
   border: 8px;
   border-radius: 4px;
   width: 95%;
   margin-top: 1rem;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   box-sizing: border-box;
}

.edit-hotel
{
   display: flex;
   flex-direction: column;
   align-items: center;

}